<%= stylesheet_link_tag "login_style", :media => "all" %>
<html>
<head>
	<meta name="generator" content="Hugo 0.83.1">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CtFinder</title>
  <meta name="description" content="CtFinder">
  <meta name="keywords" content="CfFinder">
  <meta name="author" content="CtFinder">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <script src="/js/jquery-3.3.1.min.js"></script><style type="text/css" id="custom-scrollbar-css">* {
    scrollbar-width: unset !important;
    scrollbar-color: #3175cdff #d6dbf0ff !important;
}</style>
  <!--
  <link rel="stylesheet" href="./icomoon.css">
  <link rel="stylesheet" href="./bootstrap.css">
  <link rel="stylesheet" href="./common.css">
  <link rel="stylesheet" href="./custom.css">
  -->
</head>
<body>
    <div id="page"><div id="nav">
  <a href="#" class="js-nav-toggle nav-toggle"><i></i></a>
  <aside id="menu-aside" role="complementary" class="border js-fullheight" style="height: 889px;">
    
    <h1 class="logo"><a href="/"><img class="d-none d-md-inline" src="/images/iplab-logo.png" alt="CtFinder"></a></h1>
    
    	
	  
	    <p id="lang">[ <span class="active">English</span> / <span><a href="/ja/">Japanese</a></span> ]</p>
	  
    	
    
    <nav id="main-menu" role="navigation">
      <ul>
      
      
        <li><a href="/">Home</a></li>
      
        <li><a href="">Upcoming</a></li>
      
        <li><a href="/members/">Users</a></li>
      
        <li><a href="/publications/">Upcoming</a></li>
        <!--
        <li><a href="/lectures/">Lectures</a></li>
      
        <li><a href="/join/">Join us</a></li>
      
        <li><a href="/life/">Lab Life</a></li>
      
        <li><a href="/news/">News</a></li>
      
        <li><a href="/contact/">Contact</a></li>
        -->
      
      </ul>
    </nav>
    <!--
    <h1 class="foot-logo"><a href="https://www.naist.jp/en/" target="_blank"><img src="/images/naist-logo.png" alt="NAIST"></a></h1>
    <h1 class="foot-logo"><a href="http://isw3.naist.jp/home-en.html" target="_blank"><img src="/images/naist-is.png" alt="NAIST-IS"></a></h1>
    <h1 class="foot-logo"><a href="http://www.wide.ad.jp/index_e.html" target="_blank"><img src="/images/wide-logo.png" alt="WIDE"></a></h1>
    <h1 class="foot-logo"><a href="http://eunity-project.eu/" target="_blank"><img src="/images/eunity-logo.png" alt="EUNITY"></a></h1>
    <h1 class="foot-logo"><a href="http://www.necoma-project.jp/en/" target="_blank"><img src="/images/necoma-logo.png" alt="NECOMA"></a></h1>
    -->
  </aside>
</div>
<div id="main">
  <div id="header">
    <div class="section">
      <div class="row">
        <!--
        <div class="col-sm-3 col-4 mx-auto my-auto">
          <img class="logo d-inline d-md-none" src="/images/iplab-logo-top.png" alt="CtFinder">
        </div>
        -->
        <div class="col-12">
          <h1 class="heading">This is CTF Matching Service  <span class="colored">CtFinder!!</span></h1>
        </div>
      </div>
      <div id="carousel" class="carousel slide" data-ride="carousel">
        
        
        
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag '/CtFinder1.jpeg' %>
          <!--
            <img class="w-100 carousel" src="/public/CtFinder1.jpeg">
          -->
          </div>
          <!--
          <div class="carousel-item">
            <img class="w-100 carousel" src="./Aus.jpg">
          </div>
          -->
        </div>
      </div>
    </div>
  </div>
  <div class="section contents">
    

    

  <div id="about">
    <h2 class="heading">About</h2>
    You can find your CTF Team Members!!
    <!--
    <p>The Laboratory for Cyber Resilience have been established in January 2017 by Professor Youki Kadobayashi, succeeding Professor Yamaguchi’s Internet Engineering Laboratory. Its abbreviation, IPLab, was inherited as a symbol, effort and spirit of the former laboratory’s professor. When this laboratory was founded, it was a part of graduate school of information science which later transformed into information science division under the graduate school of science and technology, Nara Institute of Science and Technology in April 2018.</p>
    <p>Our laboratory engages in research and education for cyber strength against possible threats. We focus on empirical studies for improving the resilience (i.e. making it secure, flexible and efficient) both over the cyber and physical areas. In addition to that, the transfer of those technology into the real world is also one of the core emphases. In the area of research, we are investigating on all technical domains of resilience as follows:
       </p><ul>
	<li>Security: security standards, malware analysis, phishing, forensics, and Internet of Things (IoT).</li>
	<li>Network: DDoS, IPv6 transition, software networks (SDN/NFV), wireless networks (WLAN/LPWA) and IoT.</li>
	<li>Society: security standards, cyber security education, Unmanned Aerial Vehicle (drone).</li>
       </ul>  
     These aforementioned areas are only few examples of what we are interested in. With regards to education, we organise international workshops and laboratory workshops to learn and share some specific topics. Furthermore, we are involved in organising some educational projects for students, company employees and professionals in various industrial sectors, such as Hardening Project, IT-Keys, enPiT-Security, etc.<p></p>
    <p>If you intend to apply for a master’s or doctoral program at our laboratory, please follow the <a href="join/">link</a>. We assure you much growth of opportunities after you are a part of our team. We also welcome short- and long-term interns in and outside of Japan. Please contact us about your interest.</p>
  -->
  </div>
</div>
<!--
  <div class="section contents">
    <div id="news">
      <h2 class="heading">What's New?</h2>
      <ul>
      
        <li class="topic">
	  
	    March 24, 2019
	  
	   : <b>Our new website has been launched!</b><p>
	   
	</p></li>
      
      </ul>
    </div>
  </div>
  <div id="work">
    <div class="section contents nopadding">
      <div class="container">
        <div class="row">
	  
            <a class="card col-lg-4 col-sm-6 offset-sm-0 col-10 offset-1 mb-1" href="research/">
	      <figure>
                <div class="card-body">
		  <h4 class="card-title">Research</h4>
		  <p class="card-text">Our research includes broad range of technologies. You can find more details about our research here.</p>
                </div>
                <figcaption>Read more</figcaption>
              </figure>
            </a>
	  
            <a class="card col-lg-4 col-sm-6 offset-sm-0 col-10 offset-1 mb-1" href="publications/">
	      <figure>
                <div class="card-body">
		  <h4 class="card-title">Publications</h4>
		  <p class="card-text">Our publication records can be found here.</p>
                </div>
                <figcaption>Read more</figcaption>
              </figure>
            </a>
	  
            <a class="card col-lg-4 col-sm-6 offset-sm-0 col-10 offset-1 mb-1" href="lectures/">
	      <figure>
                <div class="card-body">
		  <h4 class="card-title">Lectures</h4>
		  <p class="card-text">You can find a variety of lectures taught by the faculty members in this student page.</p>
                </div>
                <figcaption>Read more</figcaption>
              </figure>
            </a>
	  
        </div>
      </div>
    </div>
  </div>
  <div class="section contents">
    <h2 class="heading">New in Lab Life (Blog)</h2>
    <div class="container">
      <div class="row">
        
        <div class="col-lg-4 col-sm-6 offset-sm-0 col-10 offset-1 mb-3">
          <div class="arrow_box">
            <h3 class="card-title">Virtual Open Campus 2021</h3>
            <p> Welcome to the Laboratory for Cyber Resilience (IPLab)’s Virtual Open Campus 2021.
With its …</p>
            <a href="/life/2021/02/20/vopencampus/">Read more</a>
          </div>
          <span class="icon-ninja0 speach-icon"></span>
        </div>
        
        <div class="col-lg-4 col-sm-6 offset-sm-0 col-10 offset-1 mb-3">
          <div class="arrow_box">
            <h3 class="card-title">Virtual Open Campus 2020</h3>
            <p> Welcome to the Laboratory for Cyber Resilience (IPLab)’s Virtual Open Campus 2020.
With its …</p>
            <a href="/life/2020/05/30/vopencampus/">Read more</a>
          </div>
          <span class="icon-ninja1 speach-icon"></span>
        </div>
        
        <div class="col-lg-4 col-sm-6 offset-sm-0 col-10 offset-1 mb-3">
          <div class="arrow_box">
            <h3 class="card-title">Winner Award of CDMC2019</h3>
            <p>On December 14, 2019, Masataka won the first place winner award of CDMC 2019 at ICONIP 2019 in …</p>
            <a href="/life/2019/12/28/winner-award-of-cdmc2019/">Read more</a>
          </div>
          <span class="icon-ninja2 speach-icon"></span>
        </div>
        
      </div>
    </div>
  </div>
  <div id="twitter-feed">
    <div class="section contents">
      <h2 class="heading">Recent Activities <a href="https://twitter.com/iplab_NAIST" target="_blank" class="twitter"><span class="icon-twitter"></span></a></h2>
      <a class="twitter-timeline" data-tweet-limit="3" data-chrome="noheader nofooter noborders transparent noscrollbar" href="https://twitter.com/iplab_NAIST">Tweets by iplab@NAIST</a>
      <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
<div id="footer">
  <div class="footmask">
    <div class="section">
      <div class="contact">
        <h2 class="heading">Contact</h2>
        <div class="ffmap"><a href="/contact/"><span class="icon-map-marker"></span>&nbsp;Detail</a></div>
      </div>
        <div class="row">
           <div class="col-md-6 col-12">
	      <p>
		Laboratory for Cyber Resilience<br>Information Science Division<br>Graduate School of Science and Technology<br>Nara Institute of Science and Technology
	      </p>
	   </div>
	   <div class="col-md-6 col-12">
	      <p>
		3rd Floor, Building A<br>8916-5 Takayama, Ikoma,	Nara 630-0192, Japan<br>
		Phone: +81-743-72-5216 (Students Room)<br>
		Fax: +81-743-72-5219<br>
		Email: iplab-web<span class="icon-at"></span>is.naist.jp
	      </p>
	   </div>
	</div>            
      <small>© 2021 Laboratory for Cyber Resilience</small>
    </div>
  </div>
</div>
</div>
    </div><script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/twitter-override.js"></script>
-->

</div></div></body></html>