.users-body {
    width: 500px;
    margin: 0 auto;
}
.trim-image-to-circle {
    background-image: url("./koji.jpg");  /* 表示する画像 */
    width:  400px;       /* ※縦横を同値に */
    height: 400px;       /* ※縦横を同値に */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: center center;  /* 横長画像の左上を基準に表示 */
    display: inline-block;          /* 複数の画像を横に並べたい場合 */
}
.button{
    width: 100%;
    max-width: 340px;
    padding: 15px 10px;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.1em;
    color: #fff;
    background-color: #ed576c;
    border-bottom: 4px solid #c5394d;
    border-radius: 5px;
}